body {
    background-color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}


#banner {
    background-image: url('../img/cottage-dock.jpg'); /* url('../img/banner.jpg'); */
    background-size: cover;
    background-position-y: center;
    background-position-x: right;
    background-repeat: no-repeat;
}
#banner hr{border-width:1px;border-style:solid;border-color:#1e1e1e;}

.profile-shot {
    max-width: 175px;
    width:100%;
    height: auto;
    border-radius: 50%;
}


.dark-section {
    background-color:#191919;
    color:#fff;
}

.section-title {
    letter-spacing: .15em;
    font-family: "Raleway";/*, Helvetica, sans-serif;*/
}

.contact-form {
    max-width:600px;
    width:100%;
}

.contact-form .form-control {
    z-index:0;
}

.contact-form textarea {
    height:200px;
}

.gh-link {
    color: rgba(0,0,0,.5) !important;
    text-decoration: none !important;
}

.gh-link:hover {
    color: rgba(0,0,0,.9) !important;
}

.inner.cover {
    color:
    rgba(246, 255, 246, 0.8);
    letter-spacing: .25em;
    font-family: "Raleway";
}

.inner.cover h1 {
    text-transform: uppercase;
    letter-spacing: .35em;
}

span {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0,0,0,.25);
}
