body {
    background-color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}


#banner {
    background-image: url('../img/banner.jpg');
    background-size: cover;
}
#banner hr{border-width:1px;border-style:solid;border-color:black;}

.profile-shot {
    max-width: 175px;
    width:100%;
    height: auto;
    border-radius: 50%;
}


.dark-section {
    background-color:#191919;
    color:#fff;
}

.section-title {
    letter-spacing: .15em;
    font-family: "Raleway";/*, Helvetica, sans-serif;*/
}

.contact-form {
    max-width:600px;
    width:100%;
}

.contact-form .form-control {
    z-index:0;
}

.contact-form textarea {
    height:200px;
}
