:root {
    --divider: 3px solid rgba(70,130,180,0.25);
}
.crop{width:auto;height:500px;overflow:hidden;}
.crop img{width:auto;height:auto;margin:-50px 0 0 0;}
#banner{position:relative;text-align:center;}
#banner hr{border-top-width:1px;border-style:solid;border-color:black;}
.b-title-text{position:absolute;top:45%;left:50%;transform:translate(-50%,-50%);}
.b-title-text hr{border: 1px solid black;}
nav a {outline:none}
form.contact{float:right;}
table.contact tr td{padding:5px;font-family:Arial,Helvetica,sans-serif;font-size:12pt;}
input.contact, textarea.contact {
    height: 30px;
    width: 295px;
    outline:none; border:none;
    border-bottom: 1px solid steelblue;
    border-right: 1px solid steelblue;
    border-bottom-right-radius: 3px;transition: 0.5s;
}

div.para {margin-right:45px;padding-top:15px;}
input.contact[placeholder="Subject"]{width:600px;}
textarea.contact{width:600px; height: 175px;}
input.contact:focus,
textarea.contact:focus,
button.contact:focus,
button.contact:hover{border-color:orange;transition:0.5s;}
button.contact {transition:0.5s;outline:none;border:1px solid steelblue;border-radius:3px;height:30px;width:75px;background-color:#fff;}
#AboutSec{height:300px;}
img[alt="bh"]{border-radius:50%;float:left;}
div.vl{margin-left:45px;width: initial;padding-right:25px;margin-right:35px; border-right: var(--divider); float:left;}
.center-v {
    position: absolute;
    top: 50%;
}
#Banner {
    background-image: url('../img/banner1.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    overflow-y: hidden;
    background-position-y: 50%;
}

input[type="range"] {
    opacity: 0.85;
    -webkit-appearance:none;-moz-appearance:none;
    border: none;
    height: 5px;
    width: 175px;
    transition: 0.3s opacity;
    background-color: #fff;
    outline: none;
}
input[type="range"]:hover {
    opacity: 1;
    transition: 0.3s opacity;
}
.colorDisplay{height:175px;width:175px;border-radius:50%;background-color:rgba(255,255,0,0.5);}
.mixerDisplayLeft,
.mixerDisplayRight,
.mixerDisplayCenter{height:175px;width:175px;border-top:1px solid #000;border-bottom: 1px solid #000;}
.mixerDisplayLeft{border-bottom-left-radius:20%;border-top-left-radius: 20%;border-left:1px solid #000;}
.mixerDisplayRight{border-bottom-right-radius:20%;border-top-right-radius: 20%;border-right: 1px solid #000;}
.rgbMixer>code {margin:auto;}
.bias-num{width:50px;}
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-slider-thumb {
    -moz-appearance:none;
    -webkit-appearance:none;
    outline: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    
}

